@namespace Denly.Components.Shared

<div class="compact-card costs-card" @onclick="OnClick">
    <div class="card-title">Compact Costs</div>
    <div class="card-content">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
}
