<div class="nook @CssClass">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <h3 class="nook-header">@Title</h3>
    }
    @ChildContent
</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = string.Empty;
}
