@using Denly.Services
@inject IAuthService Auth
@inject NavigationManager Navigation

@if (_isLoading)
{
    <div class="auth-loading">
        <LoadingSpinner Message="Loading..." />
    </div>
}
else if (_isAuthenticated)
{
    @ChildContent
}

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private bool _isLoading = true;
    private bool _isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        await Auth.InitializeAsync();
        _isAuthenticated = await Auth.IsAuthenticatedAsync();
        _isLoading = false;

        if (!_isAuthenticated)
        {
            Navigation.NavigateTo("/login", forceLoad: true);
        }
    }
}
